﻿/*
 Theme Name:    bormashop
 Description:   Тема интернет магазина BormaShop
 Author:        Аникин Вадим
 Template:      electro
 Version:       1.2.1
*/
.vertical-menu .list-group-item{
	text-align: center;
}
.phone_ico {
	width: 12px;
	height: 12px;
	margin: 0 5px;
}

.img-header-logo{
    width: 400px;
}

.top_cont_block {
	float:left;
}

.login_block{
	float:right;
}

#ivpa-content .ivpa_attribute.ivpa_text.ivpa_background .ivpa_term, #ivpa-content .ivpa_custom_option.ivpa_text.ivpa_background .ivpa_term {
	display: block;
	float: left;
	min-width: 13px;
	line-height: 13px;
	font-size: 13px;
	font-weight: 600;
	text-align: center;
	padding: 5px 5px;
	margin-right: 3px;
	margin-top: 3px;
	color: #fff;
	background-color: #ccc;
	border-radius: 3px;
}

.ivpa_term{
	-moz-user-select: -moz-none;
	-o-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

/* .products-carousel .owl-item .product .button.add_to_cart_button::before, .section-onsale-product .onsale-product .button.add_to_cart_button::before, .section-onsale-product-carousel .onsale-product-carousel .onsale-product .onsale-product-content .button.add_to_cart_button::before, li.product .button.add_to_cart_button::before, .products-carousel .owl-item .product .added_to_cart::before, .products-carousel .owl-item .product .button::before, .section-onsale-product .onsale-product .added_to_cart::before, .section-onsale-product .onsale-product .button::before, .section-onsale-product-carousel .onsale-product-carousel .onsale-product .onsale-product-content .added_to_cart::before, .section-onsale-product-carousel .onsale-product-carousel .onsale-product .onsale-product-content .button::before, li.product .added_to_cart::before, li.product .button::before {
    content: none;
    }
	
	
.products-carousel .owl-item .product .added_to_cart, .products-carousel .owl-item .product .button, .section-onsale-product .onsale-product .added_to_cart, .section-onsale-product .onsale-product .button, .section-onsale-product-carousel .onsale-product-carousel .onsale-product .onsale-product-content .added_to_cart, .section-onsale-product-carousel .onsale-product-carousel .onsale-product .onsale-product-content .button, li.product .added_to_cart, li.product .button {
    width: auto;
}

.products-carousel .owl-item .product .added_to_cart, .products-carousel .owl-item .product .button, .section-onsale-product .onsale-product .added_to_cart, .section-onsale-product .onsale-product .button, .section-onsale-product-carousel .onsale-product-carousel .onsale-product .onsale-product-content .added_to_cart, .section-onsale-product-carousel .onsale-product-carousel .onsale-product .onsale-product-content .button, li.product .added_to_cart, li.product .button {
    float: right;
    text-align: center;
    max-width: 47%;
    background-color: rgb(124, 37, 41);
    font-size: 11px;
    line-height: 12px;
    color: #fff;
    font-weight: 600;
    text-indent: 0px;
    padding: 6px 8px;
    border-radius: 5px;
}
 */
.header-v1 .header-logo+.navbar-nav, .header-v1 .navbar-nav+.navbar-nav, .header-v1 .navbar-search+.navbar-nav, .header-v1 .primary-nav+.navbar-nav, .header-v3 .header-logo+.navbar-nav, .header-v3 .navbar-nav+.navbar-nav, .header-v3 .navbar-search+.navbar-nav, .header-v3 .primary-nav+.navbar-nav {
    margin-left: 1.5em;
}

.dropdown-menu-mini-cart .wc-forward {
    padding: 9px 10px;
    margin: 0 .5em;
    font-size: 12px;
    border-radius: 5px;
    line-height: 13px;
    max-width: 44%;
    border-width: 0;
    display: inline-block;
    color: #333e48;
    background-color: #efecec;
    border-color: #efecec;
    transition: all .2s ease-in-out;
}

.products-carousel .owl-item .product .added_to_cart:focus, .products-carousel .owl-item .product .added_to_cart:hover, .products-carousel .owl-item .product .button:focus, .products-carousel .owl-item .product .button:hover, .section-onsale-product .onsale-product .added_to_cart:focus, .section-onsale-product .onsale-product .added_to_cart:hover, .section-onsale-product .onsale-product .button:focus, .section-onsale-product .onsale-product .button:hover, .section-onsale-product-carousel .onsale-product-carousel .onsale-product .onsale-product-content .added_to_cart:focus, .section-onsale-product-carousel .onsale-product-carousel .onsale-product .onsale-product-content .added_to_cart:hover, .section-onsale-product-carousel .onsale-product-carousel .onsale-product .onsale-product-content .button:focus, .section-onsale-product-carousel .onsale-product-carousel .onsale-product .onsale-product-content .button:hover, li.product .added_to_cart:focus, li.product .added_to_cart:hover, li.product .button:focus, li.product .button:hover {
    background-color: rgb(193, 42, 42);
}

/* .navbar-search>.input-group .input-search-field span {
    width: 700px;
} */

.handheld-header img{
	width: 90%;
	margin-bottom: 15px;
}

.input-text, input[type=email], input[type=password], input[type=search], input[type=text], input[type=url], textarea{
background-color: #FFF;
}

.wpb_single_image.color_map_img {
	display: inline-block;
	margin-bottom: 15px;
}

.yith-par-message,.yith-par-message-variation {
    padding: 10px;
    letter-spacing: -0.3px;
    text-align: center;
    color: white;
    border-left: 9px solid #4E9D4E;
    margin: 10px 0;
    background: #5CB85C;
    border-radius: 3px;
    margin-bottom: 25px;
}

#tab-description {
	text-align: justify;
}

.single-product-title-divider {
	margin-bottom: 0;
}

.electro-price {
	padding: 4px 10px;
	/* border-left: 9px solid #09556d; */
    border-radius: 3px;
    background: #3292C8;
    color: #fff;
   /*  box-shadow: 3px 4px 8px 0px #255f7c85;
    text-shadow: -1px -1px 2px #06405d; */

}



.ivpa_selectbox_opened {
    overflow-y: scroll !important;
}

.bonus_vid{
    float: right;
    background: #3292c8;
    color: #fff;
    height: 100%;
    padding: 1px 15px;
    text-align: center;
    font-size: 12px;
    line-height: 19px;
	border-radius: 5px;
}

.bonus_vid span{
    font-size: 18px;
}

.off-canvas-navigation .bonus_vid, .menu-item-12453 {display:none !important;}

.dropdown-menu-mini-cart {
    max-height: 400px;
    overflow: auto;
}

.aws-container{
    flex-basis: 0;
    flex-grow: 1;
}


.aws-container .aws-search-field {
    padding: 0 15px;
    font-size: 15px;
    background: #ffffff00;
    border: none !important;
}

.aws-search-form{
    border: 2px solid #7c2529;
    border-radius: 7px;
}

.aws-container .aws-search-field:focus {
    background-color: #fff0;
}

.aws-search-result .aws_result_title {
    font-size: 14px;
    font-weight: 600;
    color: #3292c8;
}

.woocommerce .quantity input.qty {
    min-width: 100px;
}
.woocommerce-info {
	background-color: #7c2529;
	
}
.ywpar-button-message {

}


.header-icon-counter{
    display: none;
}

.electro-compact .home-v1-slider, .electro-compact .home-v2-slider {
    background: url(/wp-content/themes/bormashop/img/slide1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
}

.product_file a::before {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-right: 5px;
    content: "";
    color: #e40000;
}